footer{
    padding-bottom: 64px;
}

.footer__tags{
    margin-top: 83px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;

    &-navpad {
        margin-bottom: 128px;
    }

    &-title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $dark;
        white-space: nowrap;
    }

    &-menu {
        padding: 0;
        margin-top: 16px;
        margin-bottom: 48px;
    }

    &-item {
        list-style: none;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &-link {
        text-decoration: none;
        list-style: none;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;

        color: $accent;
    }
}

.footer__tags {
    &-menu {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    &-link {
        text-decoration: none;
        background: #f5f5f5;
        border-radius: 12px;
        padding: 4px 10px;
        white-space: nowrap;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #151515;
    }

    &-item {
        list-style: none;

        margin-top: 16px;
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.copyright {
    margin-top: 50px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $dark;
}

.footer__nav-three{
    padding-top: 85px;
}
