.sort {
    &__top {
        @include dfcc;

        &-title {
            margin: 0;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 48px;
            color: $dark;
        }
        &-list {
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
        }
        &-item {
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #a9a9a9;
            &-active {
                color: $dark;
            }
        }
        &-link img {
            margin-right: 3px;
        }
    }

    &__center {
        @include dfcc;
        max-width: 826px;
        width: 100%;
        padding-top: 16px;
        @media (max-width: 767px) {
           display: none;
         }
        &-chek {
            background: #f9f9f9;
            border: 1px solid #d1d1d1;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 10px 17px;
            @include dfcc;
           

            &-line {
                margin: 0 24px;
            }

            &-select {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: #151515;
                background: inherit;
            }
        }
        &-label  {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: $dark;
            margin-right: 8px;
            margin-left: 10px; 
            &:last-child {
                margin-right: 0;
            }
        }
        &-span {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #151515;
            margin-left: 15px;
            border: 1px solid #d1d1d1;
            border-radius: 12px;
            padding: 0 5px;
            margin: 0;
        }
    }
}

.brands-input{
    margin-right: 10px;
}